$large: new-breakpoint(min-width 769px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 640px 4);

.wrapper{
	@include outer-container(1200px);
	background: orange;
	font-family: helvetica Neue;

	.header{
		@include fill-parent;
		background: #666;
		@include pad;
	}
	.contents{
		@include row;

		.sidebar{
			@include span-columns(4);
			background: #777;
			@include media($mobile){
                                float: none;
                                width: auto;
			}
			ul li{
					@include pad;
					@include fill-parent;

				ul{
					@include row;

					li{
						@include pad;
						@include media($large){
							@include omega(4n);
							@include span-columns(1 of 4);
						}
						@include media($tablet){
							@include omega(3n);
							@include span-columns(1.3 of 4);
						}
					}
				}
			}
		}
		.main{
			@include span-columns(8);
			background: #ddd;
			@include pad;
			@include media($mobile){
				@include fill-parent;
			}
		}
	}
	.footer{
		@include fill-parent;
		background: #bbb;
		@include pad;
	}
}

